<!doctype html>
<html>
    <head>
        <title>Lista och sök bland alla mina projekt</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    </head>
    <body>
        <header>
            <div id="header_container">
                <h1><a id="home_href" href="./">Hemsidans titel</a></h1>
            </div>
        </header>
        <nav>
            <div id="nav_container">
                <ul>
                    <a href="list"><li>Lista</li></a>
                    <a href="technologies"><li>Tekniker</li></a>
                </ul>
            </div>
        </nav>
        <main>
            <div id="main_container">

                <!-- TEKNIK 1 -->
                <section>
                    <h2>Lista Alla Projekt - {{ yoya }}</h2>

                    <div id="filter_box">
                        <form method="GET" action="/list">
                            <input autofocus type="text" name="search_box" placeholder="Sök här.." onClick="this.select();" value="{{ search_nu }}">
                            <select name="order_list">

                              <option value="start_date">Startdatum</option>
                              <option value="end_date">Slutdatum</option>
                              <option value="project_id">ID</option>
                            </select>
			    <select name="list_order">

                              <option value="desc">&uarr;</option>
                              <option value="asc">&darr;</option>
                            </select>
			     <input type="submit" value="Sök">
                              <br>
			      <div id="checkbox">
                              {% for t in techs %}
                              <input type="checkbox" name="filter_tech" value="{{t}}">{{t}}
                              {% endfor %}
                              </div>
                        </form>
                    </div>

                    
                    {% for p in projects %}
                    <article>
                        <a href="/project/{{ p["project_id"] }}"><img alt="Projektets bild" title="Projektets bild" src="{{ p["small_image"] }}" width="120" height="120"></a>
                        <h3><a href="/project/{{ p["project_id"] }}">{{ p["project_name"] }}</a></h3>
                        <p>{{ p["long_description"] }}</p>
                        <div class="project_links">
                            <a style="color: #555;">{{ p["start_date"] }} - {{ p["end_date"] }}</a>
                            <a href="/project/{{ p["project_id"] }}" class="project_callToAction">Mer om Projektet</a>
                            {% for tech in p["techniques_used"] %}
                            <a class = "fly" href="technologies#{{tech}}">{{tech}}</a>
                            {% endfor %}

                            
                        </div>
                    </article>
                    {% endfor %}
                    
                    
                </section>
            </div>
        </main>
        <footer>
            <p>©Copyright People</p>
        </footer>
    </body>
</html>





